:root {
  --light-color: #fff;
  --dark-color: #282828;
  --header-height: 70px;
  --search-height: 50px;
  --border-color: #ccc;
}
@font-face {
  font-family: Cardo;
  src: url(Cardo-Bold.ttf);
}
@font-face {
  font-family: Agane;
  src: url(Agane.ttf);
  line-height: 1.7;
}
html {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
h2 {
  margin-left: 20px;
  font-family: 'Cardo';
  font-size: 40px;
  transition: all 200ms ease-in-out;
  color: #fff;
  
  transform: rotate(0);
}
.recipe-search:hover {
  color: #d0f5e6;
  font-size: 25px;
  
  transform: rotate(10);
}
body {
  height: 100vh;
  width: 100vw;
  background: var(--light-color);
  font-family: 'Agane';
  
}
.container {
  text-align: center;
  margin-top: 100px;
}
header {
  height: var(--header-height);
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-color); 
  gap: 10px;
  padding-right: 30px;
}
.head {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}
.homenav {
  display: flex;
  flex-direction: row;
}
.search-icon {
  height: 50px;
  width: 50px;
}
.recipe-search {
  font-family: 'Agane';
  color: #fff;
  margin-right: 20px;
  transition: all 200ms ease-in-out;
  transform: translate(0px, 0px);
}
.recipe-search:hover {
  color:#d0f5e6;
  font-size: 25px;
  transform: translate(-5px, -5px);
}

.search {
  display: flex;
  justify-content: center;
  align-items:center;
  height: var(--search-height);
  gap: 10px;
  
}
.open {
  height: inner-height;
}
h1 {
  font-family: 'Cardo';
  font-size: 200px;
}
h2 {
  font-family: 'Cardo';
  font-size: 50px;
}
h5 {
  font-family: 'Cardo';
  font-size: 75px;
  margin-top: 100px;
}
h3 {
  font-family: 'Agane';
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: #e9f5d0;
  
}
#bookmark {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 150px;
}
.explain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.search-link {
  color: black;
  background-color: #e9f5d0;
}
h4 {
  font-family: 'Agane';
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #e9f5d0;
  padding: 25px;
  margin-right: 10px;
}

h6 {
  font-family: 'Agane';
  font-size: 35px;
  text-decoration: underline;
  text-decoration-color: #e9f5d0;
}

.arrow {
  color: #d0f5e6;
  font-size: 50px;
}
#recipe-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: no-wrap;
  flex-direction: column;
  width: 90%;
  background-color: var(--light-color);
  
}
.recipe {
  width: 100%;
  margin: 20px;
  transition: all 200ms ease-in-out;
  transform: translate(0px, 0px);
  border: 1px #f0f0f0 solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.recipe:hover {
  box-shadow:  5px 8px #e9f5d0;
  transform: translate(5px, -5px);
  background: #f0f0f0;
}
.recipe-title {
  height: 50px;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Cardo';
  
}

.recipe-image {
  display: flex;
  justify-content: end;
  height: 100px; 
}
.recipe-image img {
  height: 100%;
  
}





.one-ingredient {
  border: 2px black solid;
}




a {
  text-decoration: none;
  color: #fff;
}

.recipe-link {
  color: black;
  width: 100%;
}
.sec3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.garlic {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 200px;
  margin-left: 10%;
}

.ideas {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 5%;
}
.sample {
  width: 100%;
  margin: 50px;
  transition: all 200ms ease-in-out;
  transform: translate(0px, 0px);
  border: 1px #f0f0f0 solid;
  border-radius: 5px;
  display: flex;
  flex-direction: reverse;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.sample:hover {
  box-shadow:  5px 8px #e9f5d0;
  transform: translate(5px, -5px);
  background: #f0f0f0;
}
.sample-image img{
  height: 300px;
  width: 300px;
}

h7 {
  font-family: 'Agane';
  font-size: 45px;
  border-bottom: 5px #d0f5e6 solid;
  margin: 10px;
}

.sample-link {
  font-family: 'Agane';
  font-size: 45px;
  border-bottom: 5px #d0f5e6 solid;
  margin: 10px;
  color: #282828;
}